html, body {
    height: 100%;
}

/*.container {*/
/*    position: relative;*/
/*    top: 50%;*/
/*    transform: translateY(-100%);*/
/*    text-align: center;*/
/*}*/

.container {
    margin-top: 50px;
}
.card {
    margin: 20px !important;
}
.navbar {
    background-color: #e3f2fd;
}
