html, body {
    height: 100%;
}

.container {
    margin-top: 50px;
}
.card {
    margin: 20px !important;
}
.navbar {
    background-color: #463288;
    font-size: large;
}

body {
    transition: background-color 1s;
}
html, body {
    min-height: 100%; ;
}
body.loading {
    background: #9FB7FF url('/icons/loader.gif') no-repeat 50% 50%;
    opacity: 0;
}

.addmovie {
   background-color:  #746097;
    border-color: #746097;
}
.addmovie:hover {
    background-color: #463288 !important;
}

body {
    background-color: #DFE7FF;
    background-image: url('icons/curtain2.png');
    background-repeat: no-repeat;
    width: 100% !important;
    height: 100% !important;

}
